<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/app/src/public/css/login.css">
  <script src="/js/home/new_pw.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="user_pw" type="password" placeholder="새 비밀번호"/>
        <input id="confirm-psword" type="password" placeholder="새 비밀번호 확인"/>
        <p id="button">변경하기</p id="button">
        <p class="message">비밀번호를 알고 계신가요? <a href="/login">돌아가기</a></p>
      </form>
    </div>
  </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->