<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/home/login.css">
  <script src="/js/home/sign_up.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="user_name" type="text" placeholder="이름"/>
        <input id="user_id" type="text" placeholder="아이디"/>
        <input id="user_pw" type="password" placeholder="비밀번호"/>
        <input id="confirm-psword" type="password" placeholder="비밀번호 확인"/>
        <input id="user_gender" type = "text" placeholder="성별"/>
        <input id="user_question" type = "text" placeholder="질문"/>
        <input id="user_answer" type = "text" placeholder="답변"/>
        <p id="button">SIGN UP</p>
        <p class="message">Already registered? <a href="/login">login</a></p>
      </form>
    </div>
  </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->